page-dashboard {

  .toolbar-background {
    background-color: #454545;
  }

  .bar-button-default-md,
  .bar-button-clear-md-default,
  .bar-button-md-default {
    color: #ECECEC;
  }

  .item-md {
    background-color: #454545;
  }

  .item-input ion-input {
    color: #ECECEC;
  }

  .item-md.item-input.input-has-focus .item-inner {
    box-shadow: none;
  }

  .cart-buttons {
    .button-small-md {
      margin: 10px;
      float: right;
      height: 2.1em;
      font-size: 1.3rem;
      padding: 0 0.9em;
      background-color: #454545;
    }
  }

  .bgColor {
    background: #727171;
    margin-right: 5px;

  }

  //Botones del cart
  .button-outline-md-material {
    border-color: #4e4e4e;
    color: #4e4e4e;
    background-color: transparent;
    width: 119px;
  }
}
