<ion-header>
  <ion-navbar no-lines>
    <ion-buttons left>
      <button ion-button icon-only menuToggle>
        <ion-icon name="menu"></ion-icon>
      </button>
    </ion-buttons>
    <ion-buttons right>
      <button ion-button icon-only>
        <ion-icon name="cart"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
  <ion-item no-lines>
    <ion-toolbar no-border-top>
        <ion-searchbar
          (ionInput)="onCancel($event)"
          (ionCancel)="onCancel($event)"
          [(ngModel)]="keySearch"
          (keyup)="filterProducts(keySearch)"
          placeholder="What are you looking for?"
        ></ion-searchbar>
      </ion-toolbar>
  </ion-item>
</ion-header>


<ion-content padding>
  <ion-card *ngFor="let p of products">
    <div *ngIf="p.state">
      <img src="{{urlApi}}/portal_content/img/{{p.img_name}}" />
      <ion-card-content>
        <ion-card-title>
          {{p.product_title}}
        </ion-card-title>
        <p>Description: {{p.product_description}}</p>
        <p>Stock: {{p.product_stock}}</p>
        <p>Price: ${{p.product_price}}</p>
      </ion-card-content>
    </div>
  </ion-card>
</ion-content>
