page-profile {
  .toolbar-background {
    background-color: #454545;
  }

  .bar-button-default-md, .bar-button-clear-md-default, .bar-button-md-default{
    color: #ECECEC;
  }

  .item-md {
    background-color: #454545;
  }

  .item-input ion-input{
    color: #ECECEC;
  }

  .item-md.item-input.input-has-focus .item-inner{
    box-shadow: none;
  }

  .toolbar-title-md{
    color : #ECECEC;
    font-size: 1.5rem;
  }

  .items {
    background-color: white;
  }

  .item-md.item-block .item-inner {
    margin-top: 15%;
    padding-right: 8px;
    border-bottom: 1px solid #dedede;
  }

  .button-outline-md {
    width: 125px;
    border-width: 1.5px;
    border-style: solid;
    border-color: #454545;
    color: #454545;
    background-color: transparent;
    -webkit-box-shadow: none;
    box-shadow: none;
  }
}
