page-sign-up {

  .bg{
    background-image: url(../../assets/imgs/bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
  }

  .item-label-stacked .text-input-md, .item-label-floating .text-input-md{
    color: #ECECEC !important;
    font-size: 14px !important;
  }

  .item-input-has-focus .label-md[floating], .input-has-focus .label-md[floating]{
    color: #ECECEC; //label color when focusing
  }

  .item-input .label-md{
    color: #ECECEC; //Label Color
    font-size: 14px !important;
  }

  .clear {
    background-color: transparent;
  }

  .icon-logo{
    height: 119px;
    width: 125px;
  }

  .btn-out{
    border-color: #ECECEC !important;
    color: #ECECEC !important;
    border-width: 1.5px !important;
    border-radius: 0px !important;
    width: 250px !important;
    height: 40px !important;
    font-size: 18px !important;
  }

  .item-md .item-button {
    padding: 0 0.6em;
    height: 25px;
    font-size: 14px;
  }

  .item-md.item-input.input-has-focus .item-inner{//Quitamos el color del input
    box-shadow: none;
  }
}
