<div>
    <ion-list>
      <ion-list-header>
      </ion-list-header>
      <ion-item (click)="redirect(1)" no-lines>
          <ion-label color="light">
            <ion-icon md="md-home"></ion-icon>
            Home
          </ion-label>
      </ion-item>
      <ion-item (click)="redirect(3)" no-lines>
          <ion-label color="light">
            <ion-icon md="md-person"></ion-icon>
            Profile
          </ion-label>
      </ion-item>
      <ion-item no-lines (click)="redirect(2)">
          <ion-label color="light">
            <ion-icon md="md-cart"></ion-icon>
            Products
          </ion-label>
      </ion-item>
      <ion-item (click)="exitapp()" no-lines>
          <ion-label color="light">
            <ion-icon md="md-exit"></ion-icon>
            Logout
          </ion-label>
      </ion-item>
    </ion-list>
  </div>
